[submodule "dep/XOptions"]
	path = XOptions
	url = https://github.com/horsicq/XOptions
[submodule "dep/build_tools"]
	path = build_tools
	url = https://github.com/horsicq/build_tools
[submodule "dep/XAboutWidget"]
	path = XAboutWidget
	url = https://github.com/horsicq/XAboutWidget
[submodule "dep/XUpdate"]
	path = XUpdate
	url = https://github.com/horsicq/XUpdate
[submodule "dep/XGithub"]
	path = XGithub
	url = https://github.com/horsicq/XGithub
[submodule "dep/Controls"]
	path = Controls
	url = https://github.com/horsicq/Controls
[submodule "dep/XShortcuts"]
	path = XShortcuts
	url = https://github.com/horsicq/XShortcuts
[submodule "dep/Formats"]
	path = Formats
	url = https://github.com/horsicq/Formats.git
