[submodule "XOptions"]
	path = XOptions
	url = https://github.com/horsicq/XOptions
[submodule "build_tools"]
	path = build_tools
	url = https://github.com/horsicq/build_tools
[submodule "XAboutWidget"]
	path = XAboutWidget
	url = https://github.com/horsicq/XAboutWidget
[submodule "XUpdate"]
	path = XUpdate
	url = https://github.com/horsicq/XUpdate
[submodule "XGithub"]
	path = XGithub
	url = https://github.com/horsicq/XGithub
[submodule "Controls"]
	path = Controls
	url = https://github.com/horsicq/Controls
