[Desktop Entry]
Version=#VERSION#
Type=Application
Name=XOpcodeCalc
Comment=Opcode calculator
TryExec=xocalc
Exec=xocalc
Icon=xocalc
Terminal=false
Categories=Development;
